.swiper-pagination-bullet-active {
  background-color: #d4af37; /* your gold color */
  opacity: 1;
}
/* Change arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #d4af37; /* your gold color */
  background-color: rgba(198, 198, 198, 0.5);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}